---
// Layouts
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutLayout from "../layouts/AboutLayout.astro";

// Components
import Nav from "../components/Nav.astro";
import MenuIcons from "../components/MenuIcons.astro";
import Name from "../components/Name.astro";

// Image
import aboutImage from "../assets/featuredImages/ClubAtlas/35.webp"
import Image from "astro/components/Image.astro";
---

<BaseLayout title="AvD Photography | About">
    
    <AboutLayout>
        
        <Name/>
        <Nav/>
        <MenuIcons/>

        <div id="texts">
            <Image
                class="image" 
                src={aboutImage} 
                alt={"Photographer standing above the crowd at a party."}
                loading="eager" 
            />

            <div class="text-content">
                I'm a photographer who believes in the power of storytelling through images.
                Whether it's a portrait shoot, event, or something more dynamic like sports or automotive photography,
                I aim to capture moments that feel real and personal. I take time to connect with the people and places I photograph, 
                listening to what matters to them, and finding out what makes each moment unique. 
                This helps me create images that truly reflect the essence of the experience.
                <br><br>
                I'm always up for new challenges and love learning through fresh experiences,
                so I welcome clients from all walks of life. My goal is to capture your story in a way that feels natural,
                through thoughtful planning, but also by just enjoying the moment together.
                <br><br>
                If you're looking for photographs that go beyond the surface and tell your story, I'd love to work with you.
                Let's create something memorable!
            </div>
        </div>

    </AboutLayout>

</BaseLayout>

<style>
    #texts {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: min(4svw, 60px);
        
        height: 100%;
        width: 100%;
        grid-area: texts;
    }

    .image {
        width: 25svw;
        height: auto;
        object-fit: cover;
    }

    .text-content {
        width: 35%; 
        text-align: justify;
        font-size: min(1.1svw, 2vh);
        line-height: 1.6;
        font-weight: 300;
        
        /* Text Color Logic */
        color: var(--color-text-primary-light);
        transition: color 0.3s ease;
    }

    /* Dark Mode Handling */
    :global(.dark) .text-content {
        color: var(--color-text-primary-dark);
    }

    /* Mobile Responsive adjustment */
    @media (max-aspect-ratio: 3.1/4) {
        #texts {
            flex-direction: column;
            text-align: center;
        }
        .image {
            width: 60svw;
        }
        .text-content {
            width: 80%;
            text-align: center;
            font-size: min(3svw, 2.5vh);
        }
    }
</style>